<style media="screen">
  li {
    background-color: blue;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
    text-align: center;
  }
</style>

<ul>
  {{#each user }}
  <li>{{squads}}</li>
  {{/each}}
</ul>

<ul>
  {{#each player}}
  {{#if available}}
  {{ player is added to team=true}}
  {{/if}}
  {{/each}}
</ul>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>
  <script src="/path/to/handlebars.min.js"></script>
